header {
		color:White;
		font-size:50pt;
		font-family:Impact;
		border:solid 2px white;
		text-align:center
}

article {	text-align:center
}

p {color:white
}

.first {	border:dashed	 5px white;
		border-radius:25%;
}

.second { border:solid 5px white
}

.third { border:solid 5px white
}	

.fourth 	{ border:solid 5px white
}	


